<!doctype html>
<html ng-app="sith">
  <head>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/nouislider/css/jquery.nouislider.min.css" rel="stylesheet">
    <link href="vendor/material/css/ripples.min.css" rel="stylesheet">
    <link href="vendor/material/css/material-wfont.min.css" rel="stylesheet">
    <link href="vendor/snackbarjs/snackbar.min.css" rel="stylesheet">

    <title>sith</title>
  </head>
  <body>

    <div ui-view="navigation"></div>

    <div ng-controller="sith.ctrl.player" style="position: fixed; bottom: 0; width: 100%; margin: 0; z-index: 10" class="navbar navbar-material-white">
      <div class="navbar-header">
        <img ng-show="!current.album.has_image" src="holder.js/60x60" style="width: 60px; height: 60px" alt="Album Cover">
        <img ng-show="current.album.has_image" src="/image/album/{{current.album.id}}" style="width: 60px; height: 60px" alt="Album Cover">
      </div>

      <div class="progress" style="margin: 0; padding: 0">
        <div class="progress-bar progress-bar-material-purple" style="width: {{progress}}%"></div>
      </div>

      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><a href="javascript:void(0)">
          <span ng-repeat="artist in current.artists">
            {{artist.name}}
            <span ng-show="!$last">, </span>
            - {{current.name}}
          </a></li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="!playing" ng-click="play()"><a href="javascript:void(0)"><i class="icon-material-play-arrow"></i></a></li>
          <li ng-show="playing" ng-click="pause()"><a href="javascript:void(0)"><i class="icon-material-pause"></i></a></li>
        </ul>
      </div>
    </div>

    <div style="margin-top: 70px">
      <div ng-repeat="message in $state.messages" class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>{{message}}</p>
      </div>
    </div>

    <div class="container" style="margin-bottom: 70px;">
      <div class="page-header" id="banner">
        <div class="row">
          <div ui-view="main" class="col-md-12"></div>
        </div>
      </div>
    </div>

    <script src="vendor/jquery/js/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/nouislider/js/jquery.nouislider.min.js"></script>
    <script src="vendor/material/js/ripples.min.js"></script>
    <script src="vendor/material/js/material.min.js"></script>
    <script src="vendor/snackbarjs/snackbar.min.js"></script>
    <script src="holder.js"></script>
  </body>
</html>
